/* Global Styles */
@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 18px;
	background-color: #f6ca83;
	font-weight: 100;
}

/* Header styles */
.header-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.header {
	font-family: "Monoton", cursive;
	font-size: 1.7rem;
	text-transform: uppercase;
	text-align: center;
	width: 90vw;
	background-color: #d0d38f;
	border: 3px solid black;
	margin: 1rem 1rem 3rem 1rem;
	padding: 1rem 1rem;
}
.header-text {
	font-weight: 100;
}

/* Content Styles */
.blog-post-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: flex-end;
	position: relative;
	margin-bottom: 2rem;
}

.blog-post-1 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75vw;
	height: 45vh;
	background-color: #ff87ab;
	text-align: center;
	padding: 2rem;
}

.blog-post-border {
	width: 80vw;
	height: 45vh;
	border-top: 3px solid black;
	border-left: 3px solid black;
	border-bottom: 3px solid black;
	position: absolute;
	bottom: 20px;
	margin-top: 0;
	margin-right: 0;
}

.blog-post-container-2 {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: flex-start;
	position: relative;
	margin-bottom: 2rem;
}

.blog-post-2 {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75vw;
	height: 45vh;
	background-color: #ff87ab;
	text-align: center;
	padding: 2rem;
}

.blog-post-border-2 {
	width: 80vw;
	height: 45vh;
	border-top: 3px solid black;
	border-right: 3px solid black;
	border-bottom: 3px solid black;
	position: absolute;
	top: 20px;
	margin-top: 0;
	margin-right: 0;
}

p,
h3, 
h2 {
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
	margin-bottom: 0.5rem;
}


h3 {
	font-style: italic;
	font-size: 1rem;
}

h2 {
	text-decoration: underline;
	font-size: 1.3rem;
}
/* Input and Button styles */
.input-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
	display: none;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}

.view {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-bottom: 4rem;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: 100;
}

input {
	background-color: #ff87ab;
	width: 90vw;
	height: 6vh;
	border: 3px solid black;
	margin-bottom: 0.5rem;
	padding: 1rem 1rem;
	font-size: 1.2rem;
}

textarea {
	background-color: #ff87ab;
	width: 90vw;
	height: 20vh;
	border: 3px solid black;
	margin-bottom: 0.5rem;
	padding: 1rem;
	resize: vertical;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.2rem;
}

button {
	margin: 1rem 1rem;
	background-color: #d0d38f;
	border: 3px solid black;
	width: 30vw;
	height: 7vh;
	font-size: 1rem;
}
